body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #f1cfd6;
    color: #e64867;
    border: 1px double #ee93a5;
  }
  
  .past {
    background-color: #efd0fc;
    color: white;
  }
  
  .present {
    background-color: #8c63ec;
    color: white;
  }
  
  .future {
    background-color: #b3ffb3;
    color: white;
  }
  
  .saveBtn {
    border-left: 3px outset #4792e9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #9fc4ee;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  

  header {
    background-color: #efd0fc;
  }